@{
  Layout = "_Layout";
}

@using VendorLog.Models;

<h1>Vendors</h1>
<ul>
  @foreach(Vendor vendor in Model)
  {
    <li><a href="/vendors/@vendor.Id">@vendor.Name</a></li>
  }
</ul>
<form action="/vendors/new">
  <button type="submit">Add New Vendor</button>
</form>
<br>
<p><a href="/">HomePage</a></p>